<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <servlet>
        <servlet-name>Order</servlet-name>
        <servlet-class>lesson33.servlet.OrderServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Order</servlet-name>
        <url-pattern>/order</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>About</servlet-name>
        <servlet-class>lesson33.servlet.AboutServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>About</servlet-name>
        <url-pattern>/about</url-pattern>
    </servlet-mapping>

</web-app>